.bannerContainer {
  padding: 0 var(--paddingMaxWidth);
  margin-top: 48px;
}

.banner {
  width: 100%;
  max-width: calc(var(--maxWidth) - 2 * var(--paddingMaxWidth));
  margin: 0 auto;
  background-color: var(--theme);
  padding: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  box-shadow: var(--shadow);
}

.banner div {
}

.banner h1 {
  font-size: 40px;
  color: var(--white);
}

.banner p {
  font-size: 24px;
  color: var(--white);
  margin-bottom: 40px;
  margin-top: 16px;
}

.banner a {
  background-color: var(--white);
  color: var(--theme);
  width: 100%;
  max-width: 300px;
  text-decoration: none;
  padding: 12px;
  border-radius: var(--radius);
  font-weight: 500;
}

.templates {
  column-count: 3;
  width: 100%;
  max-width: var(--maxWidth);
  margin: 24px auto 0 auto;
  padding: var(--paddingMaxWidth);
  gap: 24px;
}

.templates a {
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: flex-start;
  margin-top: 24px;
}

.templates img {
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}
