@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Mono&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 614px;
  height: 874px;
  margin: 56px 24px;
  zoom: 0.8;
  position: relative;
  padding: 48px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  background: url(./background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.container .paper canvas {
  width: 614px;
  height: 874px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.container .paper p,
.container .paper div {
  z-index: 100;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  position: relative;
}

.container .paper .call {
  font-size: 24px;
  text-align: center;
  width: 100%;
  max-width: 340px;
}

.container .paper .title {
  font-size: 64px;
  text-align: center;
  max-width: 100%;
  margin: 24px 0;
  font-family: "Dancing Script", cursive;
}

.container .paper .description {
  font-size: 24px;
  text-align: center;
  width: 100%;
  max-width: 340px;
}

.container .paper div {
  margin-top: 64px;
  width: 100%;
  max-width: 340px;
}

.container .paper div hr {
  border: none;
  height: 2px;
}

.container .paper .date {
  text-align: center;
  width: 100%;
  max-width: 340px;
  font-size: 24px;
  margin-top: 24px;
}

.container .paper .place {
  text-align: center;
  width: 100%;
  max-width: 340px;
  font-size: 24px;
  margin-bottom: 24px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 56px;
  bottom: 56px;
}

.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.buttons .textColorBtn,
.buttons .colorBtn {
  margin-bottom: 24px;
  width: 48px;
  height: 48px;
  box-shadow: var(--shadow);
  position: relative;
  background-color: #fff;
}

.buttons .textColorBtn input,
.buttons .colorBtn input {
  position: absolute;
  background-color: violet;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: none;
  opacity: 0;
  cursor: pointer;
}

.buttons .textColorBtn input::-webkit-color-swatch,
.buttons .colorBtn input::-webkit-color-swatch {
  border-radius: 50%;
}

.buttons .downloadBtn {
  padding: 12px;
}
