.container {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  background-color: #fff;
}

.container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--maxWidth);
  margin: auto;
  padding: var(--paddingMaxWidth);
}

.container div .logo img {
  max-width: 150px;
}

.container div nav a {
  margin-left: 24px;
  text-decoration: none;
  color: var(--theme);
  font-size: 18px;
  font-weight: 500;
}

.container div nav a:last-child {
  background-color: var(--theme);
  color: var(--white);
  padding: 12px 24px;
  border-radius: var(--radius);
}
