.container {
  background-color: var(--theme);
  margin-top: 40px;
  width: 100%;
}

.container footer {
  width: 100%;
  max-width: var(--maxWidth);
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px var(--paddingMaxWidth);
}

.container footer div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25%;
}

.container footer div p {
  color: #fff;
  opacity: 0.8;
  margin-top: 8px;
  line-height: 24px;
}

.container footer div p a {
  text-decoration: underline;
}

.container footer div:nth-child(2),
.container footer div:nth-child(2) {
  margin: 0 32px;
}

.container footer div img {
  max-width: 120px;
}

.container footer div span {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 12px;
}

.container footer div a {
  text-decoration: none;
  color: #fff;
  margin-top: 8px;
  opacity: 0.8;
}
