.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .paper {
  display: flex;
  width: 614px;
  height: 874px;
  margin: 56px 24px;
  zoom: 0.8;
}

/* === RIGHT === */
.container .paper .right {
  width: 45%;
  padding: 40px 24px;
}

.container .paper .right .profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .paper .right .profile .imgWrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container .paper .right .profile input[type="file"] {
  position: absolute;
  height: 150px;
  width: 150px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;
  font-size: 0;
}

.container .paper .right .containerTopic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 0 auto;
}

.container .paper .right .containerTopic span {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  margin-bottom: 12px;
  letter-spacing: 2px;
}

.container .paper .right .containerTopic label,
.container .paper .right .containerTopic .label {
  display: flex;
  margin-top: 12px;
  width: 100%;
}

.container .paper .right .containerTopic label svg,
.container .paper .right .containerTopic .label svg {
  min-width: 24px;
}

.container .paper .right .containerTopic label p,
.container .paper .right .containerTopic .label p {
  margin-left: 8px;
  border: none;
  color: #fff;
  background-color: transparent;
  padding: 2px;
  width: 100%;
  max-width: 192px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  cursor: pointer;
}

.container .paper .right .containerTopic label button,
.container .paper .right .containerTopic .label button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* === LEFT === */
.container .paper .left {
  width: 55%;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
}

.container .paper .left .name {
  font-size: 40px;
  width: 100%;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.container .paper .left hr {
  width: 150px;
  margin: 16px 0;
  height: 3px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.container .paper .left .profession {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 36px;
}

.container .paper .left span {
  font-size: 18px;
  margin-top: 24px;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.7;
  letter-spacing: 2px;
}

.container .paper .left .textarea {
  margin-top: 12px;
  color: #666;
  font-size: 16px;
  resize: none;
  padding: 4px 0;
  max-width: 100%;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  cursor: pointer;
}

/* === Download button === */
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 56px;
  bottom: 56px;
}

.buttons .colorBtn,
.buttons .activeAwardsBtn {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
  margin-bottom: 24px;
  border-radius: 50%;
  position: relative;
  border: none;
  cursor: pointer;
}

.buttons .colorBtn input[type="color"] {
  -webkit-appearance: none;
  border: none;
  position: absolute;
  height: 48px;
  width: 48px;
  opacity: 0;
  cursor: pointer;
}

.buttons .colorBtn input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 100px;
  height: 48px;
  width: 48px;
  opacity: 0;
}

.buttons .downloadBtn {
  border: none;
  padding: 12px;
  border-radius: 100px;
  cursor: pointer;
}
