@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --theme: #4287f5;
  --white: #fff;
  --maxWidth: 1224px;
  --paddingMaxWidth: 24px;
  --radius: 4px;
  --shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
}
